<h1>New Blog</h1>
<%= form_with(model: @blog, local: true) do |form| %>
  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>

  <p>
    <%= form.label :content %><br>
    <%= form.text_area :content %>
  </p>

  <p>
    <%= form.submit "Create Blog" %>
  </p>
<% end %>

<%= link_to "Back to Blogs", blogs_path %>
